a{
    text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
    display: inline;
    padding: 0 0.5em;
}

li a{
    color: grey;
}

#profile{
    background-image: url(https://lh3.googleusercontent.com/-AD3Ywars2NA/AAAAAAAAAAI/AAAAAAAAAAA/AAyYBF4A3USriFcWH_G3FJhmege_xeWDng/s32-c-mo/photo.jpg);
}

.clearfix{
    display: inline-block;
    width: 100%;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
